################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BookStoreApp/FileContentIndex/read.lock
/.vs/BookStoreApp/FileContentIndex/fd3972fd-04ff-4938-aac5-8d0c2b9232d7.vsidx
/.vs/BookStoreApp/FileContentIndex/ce83185b-0da8-4ef3-b3d9-2ba56e72c20f.vsidx
/.vs/BookStoreApp/FileContentIndex/8c7ed069-056a-4ab3-81f0-c9a91782f042.vsidx
/.vs/BookStoreApp/FileContentIndex/4d0c9035-9f42-4ffd-ac9a-7ab27b0be419.vsidx
/.vs/BookStoreApp
/.vs/ProjectEvaluation
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/BookStoreApp.Blazor.Server.UI.AssemblyInfo.cs
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/project.razor.vs.json
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/BookStoreApp.Blazor.Server.UI.RazorAssemblyInfo.cs
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/BookStoreApp.Blazor.Server.UI.RazorAssemblyInfo.cache
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/BookStoreApp.Blazor.Server.UI.GlobalUsings.g.cs
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/BookStoreApp.Blazor.Server.UI.GeneratedMSBuildEditorConfig.editorconfig
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/BookStoreApp.Blazor.Server.UI.csproj.AssemblyReference.cache
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/BookStoreApp.Blazor.Server.UI.AssemblyInfoInputs.cache
/BookStoreApp.Blazor.Server.UI/obj/project.nuget.cache
/BookStoreApp.Blazor.Server.UI/obj/project.assets.json
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/BookStoreApp.Blazor.Server.UI.MvcApplicationPartsAssemblyInfo.cache
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/BookStoreApp.Blazor.Server.UI.csproj.FileListAbsolute.txt
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/BookStoreApp.Blazor.Server.UI.csproj.CoreCompileInputs.cache
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0/BookStoreApp.Blazor.Server.UI.assets.cache
/BookStoreApp.Blazor.Server.UI/obj/BookStoreApp.Blazor.Server.UI.csproj.nuget.g.targets
/BookStoreApp.Blazor.Server.UI/obj/BookStoreApp.Blazor.Server.UI.csproj.nuget.g.props
/BookStoreApp.Blazor.Server.UI/obj/BookStoreApp.Blazor.Server.UI.csproj.nuget.dgspec.json
/BookStoreApp.Blazor.Server.UI/bin/Debug/net6.0
/BookStoreApp.Blazor.Server.UI/obj/Debug/net6.0
/BookStoreApp.Blazor.Server.UI/obj
BookStoreApp.API/bin/Debug/net6.0/appsettings.json
*.dll
*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp